SERVER_ENV="development"

# Database
DATABASE_URL="postgresql://%productname%:%productname%@localhost:5432/%productname%"

# Storage
AWS_ACCESS_KEY_ID="%productname%"
AWS_SECRET_ACCESS_KEY="%productname%"
#CLOUDFLARE_ACCOUNT_ID="" # Required for Cloudflare R2
